/* QUIZ CONTAINER */

.row {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-left: -20px;
  padding-right: 20px;
}

@media (max-width: 800px) {
  .row {
    flex-wrap: wrap;
  } 
}

.column {
    width: 75%;
  }

.columnTimer {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
}

@media (max-width: 800px) {
  .column, .columnTimer {
    flex: 100%;
  } 
}

.quizContainer {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}

/* HEADER  */

h1 {
    font-family: 'Roboto Mono';
    font-weight: bolder;
    font-size: 4em;
    letter-spacing: -0.06em;
    text-align: start;
    color: black;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin: auto;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 32px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2em;
  } 
}

.h1-light {
    color: white;
    font-family: 'Roboto Mono';

}

header {
    height: auto;
    width: 100%;
    background-color: #fdc200;
}

/*  LIST  */

ul {
    list-style: none;
    margin: auto;
}

li {
    border: 1px solid #f0f0f0;
    background-color: #f5f5f5;
    border-radius: 12px;
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-size: 1.5em;
    text-align: start;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: 20px;
    margin-bottom: 8px;
    height: 40px;
}

.choiceList {
  color: black;
  size: 1em;
}

p {
  font-family: 'Roboto Mono';
  font-size: 1.5em;
  color: black;
  padding-left: 20px;
}

@media (max-width: 800px) {
li {
    font-size: 1em;
    height: 32px;
  } 
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
    margin-right: 12px;
    vertical-align: baseline;
}

@media (max-width: 800px) {
input[type=radio] {
     vertical-align: text-top;
    } 
  }

/* BUTTONS */

button {
    background-color: black;
    color: white;
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    height: 48px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    border-style: none;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.801);
    cursor: pointer;
}

button:active {
    background-color: rgb(0, 0, 0);
    border: 1px white solid;
}

button:disabled {
    background-color: rgba(0, 0, 0, 0.288);
    cursor: not-allowed;
}

/* QUIZ QUESTION, RESULT AND PROMPT */

.question {
    font-family: helvetica;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: -0.025em;
    width: 90%;
    height: auto;
    margin: auto;
    text-align: start;
    padding-bottom: 28px;
    padding-top: 28px;
}

@media (max-width: 800px) {
  .question {
    font-size: 1.25em;
  } 
}

.quizMessage {
  height: 32px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 12px;
  margin-bottom: 8px;
  margin-top: 12px;
  text-align: center;
  font-family: helvetica;
  color: black;
  font-size: 16px;
  background-color: #f5f5f5;
  border: 1px solid #d1d1d1;
  padding-bottom: 0px;
  padding-top: 14px;  
}

.result {
    height: 32px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
    margin-bottom: 8px;
    margin-top: 12px;
    text-align: center;
    font-family: helvetica;
    color: black;
    font-size: 16px;
    background-color: #f5f5f5;
    border: 1px solid #f0f0f0;
    padding-bottom: 0px;
    padding-top: 14px;  
}

/* TIMER ELEMENTS */

#app {
    font-family: 'Roboto Mono';
    display: grid;
    height: 256px;
    place-items: center;
    background-color: #f0f0f0;
    border-radius: 12px;
  }
  
  .base-timer {
    position: relative;
    width: 280px;
    height: inherit;
  }

  @media (max-width: 800px) {
    .base-timer {
    width: 200px;
    height: inherit;
    
    } 
  }
 
  .base-timer__label {
    position: absolute;
    width: 280px;
    height: inherit;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
  }
  
  @media (max-width: 700px) {
    .base-timer__label {
      font-size: 4em;
      margin-top: 12%;
      width: 200px;
      height: 200px;
    } 
  }

/* SAVE SCORE */

input[type=text] {
  border: 1px solid #d1d1d1;
  width: 300px;
  height: 48px;
  border-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 16px;
  margin-right: 12px;
  margin-left: 20px;
  font-size: 16px;
  font-family: Helvetica;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    height: 48px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    border-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.801);
    cursor: pointer;
}

input[type=submit]:active {
    background-color: rgb(0, 0, 0);
    border: 1px white solid;
}

input[type=submit]:disabled {
    background-color: rgba(0, 0, 0, 0.288);
    cursor: not-allowed;
}

label {
  font-family: Helvetica;
  font-size: 16px;
  color: black;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* FOOTER */

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.795) !important;
  backdrop-filter: blur(12px);
  border-top: 1px solid #f0f0f0;
}

@supports (backdrop-filter: none) {
footer {
  backdrop-filter: blur(12px)!important;}
  }

@supports not (backdrop-filter: none) {
footer {
background-color: white !important;}
  } 

.align-content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 20px 20px 20px 20px;
}




